body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:426px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:653px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:426px;
  height:653px;
}
#u106 {
  position:absolute;
  left:2px;
  top:318px;
  width:422px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:63px;
}
#u107 {
  position:absolute;
  left:115px;
  top:590px;
  width:97px;
  height:63px;
}
#u108 {
  position:absolute;
  left:2px;
  top:24px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u109 {
  position:absolute;
  left:303px;
  top:6px;
  width:26px;
  height:26px;
}
#u110 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:2px;
}
#u111 {
  position:absolute;
  left:352px;
  top:18px;
  width:20px;
  height:2px;
}
#u112 {
  position:absolute;
  left:2px;
  top:-7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u113 {
  position:absolute;
  left:393px;
  top:10px;
  width:20px;
  height:20px;
}
#u114 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:49px;
}
#u115 {
  position:absolute;
  left:46px;
  top:597px;
  width:42px;
  height:49px;
}
#u116 {
  position:absolute;
  left:2px;
  top:16px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:52px;
}
#u117 {
  position:absolute;
  left:248px;
  top:597px;
  width:26px;
  height:52px;
}
#u118 {
  position:absolute;
  left:2px;
  top:18px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:52px;
}
#u119 {
  position:absolute;
  left:145px;
  top:597px;
  width:36px;
  height:52px;
}
#u120 {
  position:absolute;
  left:2px;
  top:18px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:55px;
}
#u121 {
  position:absolute;
  left:344px;
  top:595px;
  width:37px;
  height:55px;
}
#u122 {
  position:absolute;
  left:2px;
  top:20px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:502px;
}
#u123 {
  position:absolute;
  left:417px;
  top:76px;
  width:9px;
  height:502px;
}
#u124 {
  position:absolute;
  left:2px;
  top:243px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:27px;
}
#u125 {
  position:absolute;
  left:83px;
  top:60px;
  width:260px;
  height:27px;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:256px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u127 {
  position:absolute;
  left:110px;
  top:65px;
  width:71px;
  height:17px;
}
#u128 {
  position:absolute;
  left:2px;
  top:0px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
}
#u129 {
  position:absolute;
  left:240px;
  top:65px;
  width:71px;
  height:17px;
}
#u130 {
  position:absolute;
  left:2px;
  top:0px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u131 {
  position:absolute;
  left:370px;
  top:54px;
  width:26px;
  height:28px;
}
#u132 {
  position:absolute;
  left:2px;
  top:6px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:27px;
}
#u133 {
  position:absolute;
  left:24px;
  top:59px;
  width:29px;
  height:27px;
}
#u134 {
  position:absolute;
  left:2px;
  top:6px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:257px;
}
#u135 {
  position:absolute;
  left:10px;
  top:106px;
  width:395px;
  height:257px;
}
#u136 {
  position:absolute;
  left:2px;
  top:120px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:209px;
}
#u137 {
  position:absolute;
  left:19px;
  top:374px;
  width:354px;
  height:209px;
}
#u138 {
  position:absolute;
  left:2px;
  top:96px;
  width:350px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:24px;
  top:96px;
  width:64px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  position:absolute;
  left:16px;
  top:371px;
  width:64px;
  height:66px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:151px;
}
#u141 {
  position:absolute;
  left:255px;
  top:35px;
  width:125px;
  height:151px;
}
#u142 {
  position:absolute;
  left:2px;
  top:68px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:18px;
}
#u143 {
  position:absolute;
  left:277px;
  top:159px;
  width:83px;
  height:18px;
}
#u144 {
  position:absolute;
  left:2px;
  top:1px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
#u145 {
  position:absolute;
  left:277px;
  top:42px;
  width:71px;
  height:18px;
}
#u146 {
  position:absolute;
  left:2px;
  top:1px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:18px;
}
#u147 {
  position:absolute;
  left:277px;
  top:73px;
  width:93px;
  height:18px;
}
#u148 {
  position:absolute;
  left:2px;
  top:1px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:18px;
}
#u149 {
  position:absolute;
  left:277px;
  top:102px;
  width:50px;
  height:18px;
}
#u150 {
  position:absolute;
  left:2px;
  top:1px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u151 {
  position:absolute;
  left:278px;
  top:131px;
  width:50px;
  height:17px;
}
#u152 {
  position:absolute;
  left:2px;
  top:0px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:122px;
}
#u153 {
  position:absolute;
  left:380px;
  top:50px;
  width:83px;
  height:122px;
}
#u154 {
  position:absolute;
  left:2px;
  top:53px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:18px;
}
#u155 {
  position:absolute;
  left:403px;
  top:57px;
  width:34px;
  height:18px;
}
#u156 {
  position:absolute;
  left:2px;
  top:1px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:18px;
}
#u157 {
  position:absolute;
  left:403px;
  top:88px;
  width:36px;
  height:18px;
}
#u158 {
  position:absolute;
  left:2px;
  top:1px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:17px;
}
#u159 {
  position:absolute;
  left:404px;
  top:117px;
  width:35px;
  height:17px;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
}
#u161 {
  position:absolute;
  left:403px;
  top:147px;
  width:32px;
  height:18px;
}
#u162 {
  position:absolute;
  left:2px;
  top:1px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
